{% extends "base.html" %}

<!--Procura por default na pasta templatetags -->
{% load courses_tags %}
<!--Tambem poderia de utilizado {# load simplemooc.courses.courses_tags #} -->

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb" style='list-style:none;'>
            {# http://django-bootstrap-breadcrumbs.readthedocs.io/en/latest/#breadcrumb-raw-safe #}
            {% block breadcrumb %}
            <li style='display:inline;'><a href="{% url 'accounts:dashboard' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading">Meus Cursos</a>
            <ul>
                {% my_courses user %}
            </ul>
                <a class="pure-menu-heading">Minha Conta</a>
            <ul>
                <li><a href="{% url 'accounts:edit' %}">Editar Conta</a></li>
                <li><a href="{% url 'accounts:edit_password' %}">Editar Senha</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1-4">
        <div class="inner">
            {% block dashboard_content %}
            <p><strong>Usuário</strong>: {{ user }}</p>
            <p><strong>E-mail</strong>: {{ user.email }}</p>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}